body {
	
    background-image: url('../images/halloween.jpg');
}

header{

background: grey;
text-align: center;
margin-top: 50px;
width: 600px;
height: 300px;
position: absolute;
right: 300px;
padding-top: 8px;
}

.gameStart{
position: relative;
margin-top: 150px;
left: 550px;

}
.quiz{
background: grey;
margin-top:80px;
width: 600px;
height: 750px;
position: absolute;
right: 300px;
padding-top: 50px;
text-align: center;

}